{{#each this}}
<div class="country__wrapper">
  <div class="country__info">
    <h1 class="country__title">{{name}}</h1>
    <ul class="country__categories-list">
      <li class="country__categories">Capital: {{capital}}</li>
      <li class="country__categories">Population: {{population}}</li>
      <li class="country__categories">Languages:
        <ul class="coutry__languages">
          {{#each languages}}
          <li class="country__language">{{name}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
  <div class="country__flag">
    <img src={{flag}} alt={{name}} class="country__img">
  </div>
</div>
{{/each}}